<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserDatabase.Properties.Settings.SchoolConnectionString"
            connectionString="Data Source=YFEDAS21\SQLEXPRESS;Initial Catalog=School;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>